<ion-view view-title="Chat">
  <div class="bars bar-header " style="color:white">
    <div style='color:black' class="h1 title">{{da.name}} {{da.topic}}</div>

  </div>
  <ion-content class="has-header" style="margin-bottom:30px">
    <!-- <div class="list chat"  on-scroll="onChatScroll(10)"   ng-repeat="d in messages track  by $index"  ng-if="d.message.length>0"> -->

    <ol class="chat">

      <ol ng-scroll="onChatScroll(10)" ng-repeat="d in messages track  by $index" ng-if="d.message.length>0">
        <li class="other" ng-if="!d.type && d.position" ng-click="profilmov(d)">
          <div class="avatar">
            <img ng-src="{{d.img}}" draggable="false" />
          </div>
          <div class="msg">
            <p>{{d.message}}</p>
            <time am-time-ago="d.time"></time>
          </div>
        </li>
        <li class="self" ng-if="!d.type && d.sender" ng-click="profilmov(d)">
          <div class="avatar">
            <img ng-src="{{d.img}}" draggable="false" />
          </div>
          <div class="msg">
            <p> {{d.message}}</p>
            <!-- <p>Aún estoy haciendo el contexto de Góngora... <emoji class="books"/></p>
          <p>Mejor otro día</p> -->
            <time am-time-ago="d.time"></time>
          </div>
        </li>


        <li class="self" ng-if="d.type && d.sender" ng-click="profilmov(d)">
          <div class="avatar">
            <img ng-src="{{d.img}}" draggable="false" />
          </div>
          <div class="msg">
            <img src="{{d.message}}" draggable="false" />
            <time am-time-ago="d.time"></time>
          </div>
        </li>


        <li class="other" ng-if="d.type && d.position" ng-click="profilmov(d)">
          <div class="avatar">
            <img id="img_ss" ng-src="{{d.img}}" draggable="false" />
          </div>
          <div class="msg">
            <img src="{{d.message}}" draggable="false" />
            <time am-time-ago="d.time"></time>
          </div>
        </li>
      </ol>
    </ol>
    
  </ion-content>
  <footer class="bar bar-footer item-input-inset">
    <a id="stuffa" class="button button-icon icon ion-android-camera" ng-click="sendim()"></a>

    <label class="item-input-wrapper " id="stuff">
      <input style="padding-left:10vw" type="text" id="message" name="message" ng-model="m.message" placeholder="Type message">
    </label>

    <a class="button button-icon icon ion-android-send" ng-click="send()"></a>
  </footer>

</ion-view>