
<ion-view view-title='{{uname}}'  cache-view="false">
  <ion-nav-bar class="bar-positive">

    <ion-nav-back-button>
    </ion-nav-back-button>

  </ion-nav-bar>
<style media="screen">
  .chat li{
    padding: 12px;
  }
</style>
         <h5 class="has-header loaded" ng-hide='loaded' >{{message}}</h5>

     <ion-content ng-if='loaded' class='has-header has-footer'  >
       <ol lr-infinite-scroll="loadOlder"  class="chat">
          <ol ng-repeat="d in m.messages track  by $index"  ng-if="d.message.length>0">
            <li class="other"   ng-if="!contains(d.message) &&!me(d.tokken)" ng-click="profilmov(d)">
                <div class="avatar"><img class="r" ng-src="user/ben.png" draggable="false"/></div>
              <div class="msg">
                <p>{{d.message}}</p>
              <time am-time-ago="d.time"></time>
              </div>
            </li>
             <li class="self" ng-if="!contains(d.message) && me(d.tokken)" ng-click="profilmov(d)">
                <div class="avatar"><img class="r" ng-src="img/user.png" draggable="false"/></div>
              <div class="msg">
                <p> {{d.message}}</p>
                    <time am-time-ago="d.time"></time>
              </div>
            </li>


            <li class="self" ng-if="contains(d.message) &&!me(d.tokken)" ng-click="profilmov(d)">
                <div class="avatar"><img ng-src="img/ben.png" draggable="false" /></div>
              <div class="msg">
                <img src="img/ben.png" draggable="false"/>
                <time am-time-ago="d.time"></time>
              </div>
            </li>


            <li class="other" ng-if="contains(d.message) &&me(d.tokken)" ng-click="profilmov(d)">
                <div class="avatar"><img id="img_ss" ng-src="img/ben.png" draggable="false"/></div>
              <div class="msg">
                <img  src="img/ben.png" draggable="false"/>
                <time am-time-ago="d.time"></time>
              </div>
            </li>
          </ol>

      </ol>

     </ion-content>
     <footer class="bar bar-footer item-input-inset">
       <a id="stuffa" class="button button-icon icon ion-android-camera" ng-click="sendim()"></a>

       <label class="item-input-wrapper " id="stuff">
         <input style="padding-left:10vw" type="text" id="message" name="message" ng-model="m.message" placeholder="Type message">
       </label>

       <a class="button button-icon icon ion-android-send" ng-click="send()"></a>
       </footer>

 </ion-view>
