<ion-view view-title="Direct messages">


  <ion-content>
    <div class="search_">
      <input ng-model="search__.text" ng-change='search__.fun_()'  placeholder="search for user" type="text" name="" value="">
      <a class="button button-icon icon ion-search" > </a>
      <ul>
        <li ng-repeat="list in search__.lists">
          <a ng-if="list.name" href="#/chat/{{list.tokken}}">{{list.name}}</a>
        </ul>
    </div>
    <ul>
      <a href="#/chat/{{d.id}}/{{d.name}}" ng-repeat='d in messages' class="item"><div class="messanger_">
        <img class="r" src="img/user.png" alt="" style="background:cadetblue;width: 40px;
    height: 40px;">
        <div class="">
          <h4>{{d.name}}</h4>
          <p>{{d.last}}</p>
        </div>
      </div></a>
    </ul>
  </ion-content>
</ion-view>
