   <ion-view  ng-controller="PlaylistCtrl"  cache-view="false">

      <div class="itema">
        <div class="bar bar-header bar-light mydiv">
          <h1 class="title">Dripple</h1>
        </div>
        <ion-content class='has-header' >

            <!-- <img class='itemimg' src="img/ben.png" alt=""> -->
            <ion-slides class='itemsly'  options="options" slider="data.slider">
               <ion-slide-page>
                <img class='itemimg' src="img/perry.png" alt="">
               </ion-slide-page>
               <ion-slide-page>
                <img class='itemimg' src="img/ben.png" alt="">
               </ion-slide-page>
               <ion-slide-page>
                <img class='itemimg' src="img/adam.jpg" alt="">
               </ion-slide-page>
           </ion-slides>
              <div class="arrow_box">
            <div class="ap">
              <h4>Nice shirt</h4>
              <span><h4>$100</h4> <p style="padding-top: 5%;">19 minutes from you</p>
            </div>
            <div class="colordetails">
              <div class="co"> <h5>XL</h5> </div><div class="dt"></div>
            </div>
            <div class="local">

              <a class="item item-icon-left" href="#">
                <i class="ion-ios-location-outline"></i>
                <p>117 Old aba road</p>
                </a>
         </div>

         <div class="selector">
           <div class="top">
             <h3  ng-click='d()' class="selected"> Descrition</h3>
                <h3  ng-click='comment()' >comment</h3>
           </div>
           <div class="">
          <div class="" ng-show='view.d'>
            <p>To see a demo and further details go to https://www.pointblankdevelopment.com.au/blog/angularjs-directives-for-pinterest-buttons-and-widgets

Installation

Install using bower: bower install angular-pinterest

Alternatively download the code and include the angular-pinterest.js file in your page.

Add the 'angular-pinterest' module as a dependency of your AngularJS application:

angular.module('myApp', ['angular-pinterest']);
Usage

Pin It Button

Create a 'pin-it' element with attributes for the different settings of the button, values can be set directly or viewmodel properties can be used that are set in the controller.

Example

<!-- <pin-it url="vm.url" description="vm.description" media="vm.media" config="'above'"></pin-it>
<pin-it url="'https://www.pointblankdevelopment.com.au'" description="'Point Blank Development'" media="''https://www.pointblankdevelopment.com.au/images/social_media.jpg''" config="'beside'" size="'large'" color="'white'"></pin-it>
<pin-it url="vm.url" description="vm.description" media="vm.media" shape="'round'" size="'large'"></pin-it>
Follow Button -->

Create a 'pin-follow' element with attributes for Pinterest username and fullname.

Example</p>
          </div>
          <div ng-show='view.comments' class="">
            <div class=""> ///NOTE CLAST LISAT IS VERY BAD AVOID IT AS MUCH AS POSSIB

              <a class="item item-avatar" href="#">
                <img src="IMG/BEN.PNG">
                <h2>Venkman</h2>
                <p>Back off, man. I'm a scientist.</p>
              </a>
              <a class="item item-avatar" href="#">
                <img src="IMG/BEN.PNG">
                <h2>Venkman</h2>
                <p>Back off, man. I'm a scientist.</p>
              </a>
              <a class="item item-avatar" href="#">
                <img src="IMG/BEN.PNG">
                <h2>Venkman</h2>
                <p>Back off, man. I'm a scientist.</p>
              </a>
              <a class="item item-avatar" href="#">
                <img src="IMG/BEN.PNG">
                <h2>Venkman</h2>
                <p>Back off, man. I'm a scientist.</p>
              </a>


              </div>
          </div>
           </div>
         </div>
            <div class="">
              <button class=" icon-left ion-ios-location-outline localbutton">  old aba road</button>

              <!-- <selector></selector> -->
            </div>
        </div>
          </div>
        </ion-content>
    </ion-view>
