    <ion-view  ng-controller="PlaylistCtrl"  cache-view="false">
        <ion-content >
          <div class="itema">
            <div class="bar bar-header bar-light mydiv">
              <h1 class="title">Dripple</h1>
            </div>
            <img class='itemimg' src="img/ben.png" alt="">
              <div class="arrow_box">
            <div class="ap">
              <h4>Nice shirt</h4>
              <span><h4>$100</h4> <p style="padding-top: 5%;">19 minutes from you</p>
            </div>
            <div class="colordetails">
              <div class="co">  </div><div class="dt"></div>
            </div>
            <div class="local">
              <i class="ion-ios-location-outline"></i> <h5>117 Old aba road</h5>
            </div>
            <div class="">
              <button class="button icon-left ion-star button-positive">Favorites</button>
            </div>
        </div>
          </div>
        </ion-content>
    </ion-view>
