   <ion-view  ng-controller="PlaylistCtrl"  cache-view="false">

      <div class="itema">
        <div class="bar bar-header bar-light mydiv">
          <h1 class="title">Dripple</h1>
        </div>
        <ion-content class='has-header' >

            <!-- <img class='itemimg' src="img/ben.png" alt=""> -->
            <ion-slides class='itemsly'  options="options" slider="data.slider">
               <ion-slide-page>
                <img class='itemimg' src="{{data.image[0].url}}" alt="">
               </ion-slide-page>
               <ion-slide-page>
                <img class='itemimg' src="{{data.image[1].url}}" alt="">
               </ion-slide-page>
               <ion-slide-page>
                <img class='itemimg' src="{{data.image[2].url}}" alt="">
               </ion-slide-page>
             </ion-slides>

              <div class="arrow_box">
            <div class="ap">
              <h4>{{data.name}}</h4>
               <p>{{data.uname}}</p>
              <a href="#/chat/{{data.usertoken}}"  class="stuffa button button-icon icon ion-android-textsms" ></a>

              <span><h4>₦ {{data.price}}</h4> 
              <!--<p style="padding-top: 5%;">19 minutes from you</p>-->
            </div>
           <!--  <div class="colordetails">
              <div class="co"> <h5>XL</h5> </div><div class="dt"></div>
            </div> -->
            <div class="local">

              <a class="item item-icon-left" href="#">
                <i class="ion-ios-location-outline"></i>
                <p>{{data.location}}</p>
                </a>
         </div>

         <div class="selector">
           <div class="top">
             <h3  ng-click='d()' id="description" class="selected"> Descrition</h3>
                <h3 id="comment"  ng-click='comment()'  >comment</h3>
           </div>
           <div class="">
          <div class="" ng-show='view.d'>
            <p>{{data.discription}}</p>
          </div>
          <div ng-show='view.comments' class="">
            <div class=""  >
              <a ng-repeat="comment in comments" class="item item-avatar" href="#">
                <img src="IMG/BEN.PNG">
                <h2>Venkman</h2>
                <p>{{comment.message}}</p>
              </a>


              <div ng-if='user()' class="bar  item-input-inset">
                <a id="stuffa" class="button button-icon icon ion-android-camera" ng-click="sendim()"></a>

                <label style="margin-left:30px" class="item-input-wrapper " id="stuff">
                  <input style="padding-left:0" type="text" id="message" name="message" ng-model="m.message" placeholder="Type message">
                </label>

                <a class="button button-icon icon ion-android-send" ng-click="send()"></a>
            </div>

              </div>
          </div>
           </div>
         </div>
            <div class="">
           <!--   <button class=" icon-left ion-ios-location-outline localbutton">  old aba road</button>
-->
              <!-- <selector></selector> -->
            </div>
        </div>
          </div>
        </ion-content>
    </ion-view>
