<ion-modal-view ng-controller="login">
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content style="
    padding-left: 5vw;
    padding-right: 5vw;">
    <form >
      <div class="list" id="login_">
       <label class="item item-input item-floating-label">
    <span class="input-label">First Name</span>
    <input type="text" placeholder="First Name" ng-model="data.name">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">password</span>
    <input type="password" placeholder="password" ng-model="data.password">
  </label>

   <label class="item">
          <button ng-click="login()"class="button button-block button-assertive" type="submit">Log in</button>
        </label>

        <a ng-click="forgot()">forgoten? password</a></br>
        <span>dont have an account <a ng-click="signupm()">Sign up</a></span>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
