<ion-modal-view class="modal" ng-controller="mod__" ng-init="pass(modal)" style="    background: rgba(0,0,0,0.6);">

   <ion-content  ng-click='closeModal()'>
    

            


   </ion-content>

    <footer class="bar bar-footer item-input-inset  modal__">
             <section>
                  <p>your bid must be more than <span style="color:red">{{pricelowes}}</span>  </p>
              <input ng-model="bid.bidPrice" type="number" name="">
              <button ng-click='placeBid()'>SUBMIT BID</button>
             </section>
         </footer>
 </ion-modal-view>
