



 <div class="fabhous" ng-click="switch()">
                   <i class="icon" ng-class="(false==check.chek) ? 'ion-map' : 'ion-ios-list-outline'"></i>
      </div>
<ion-view    cache-view="false" >

    <ion-content>
      <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" ng-model='pics.text' placeholder="Search">
      </label>
    </div>
    <ul style="       white-space: nowrap;
 display: inline-flex;
 width: 100vw;
 overflow: auto;">

                      <li  style="display:inline;"><ion-checkbox ng-model="pics.e" ng-click='init("0")'> Enterpreniurs</ion-checkbox></li>
                <li  style="display:inline;"><ion-checkbox ng-model="pics.i" ng-click='init("1")'>Items</ion-checkbox></li>

</ul>

      <!-- <ng-map zoom="10" center="-33.9, 151.2">
        <info-window ng-repeat="d in data2" class"marker" id="1" position="{{d.lat}},{{d.lng}}" visible="true">
         <div  style="padding-left:10px"  ng-non-bindable class="m">
           <img  ng-repeat="d in d.images" style="height: 35px;
                width: 40px;
                border-radius: 40%;
                display: flex;
                float: right;
                margin-left: -10px;
                border:1px solid green;
                "
                 ng-src="{{d.image}}" alt="">
         </div>
       </info-window>
   </ng-map> -->

   <!-- 0 means items-->
   <smap ng-if="check.chek" tokken="f" filter='pics.filter' id="map_canvas" datapoint='pics.map'   ></smap>
 <testdir counter="filtereditems.length" />
     <ul  ng-if="check.chek1"  class="dynamic-grid" angular-grid="pics" grid-width="300" gutter-size="10" angular-grid-id="gallery" refresh-on-img-load="false" >

       <li  data-ng-repeat="pic in pics.map" class="grid" ng-click="item()">
        <div class="griitm">
          <img src="{{pic.media.m}}" class="grid-img" data-actual-width = "{{pic.actualWidth}}"  data-actual-height="{{pic.actualHeight}}" />
          <div class="griitm2">
            <h6>{{pic.name}}</h6>
            <p>{{pic.shopname}}</p>
           <div class="">
             <h5>
              {{pic.price}}
             </h5>
             <a>find</a>
           </div>
          </div>
        </div>
       </li>

             </ul>



   <div  ng-click="nxtpag()" id="ov" class="non">   </div>
     <div angular-ripple id="pop" class="fat_ trans" >
      <div ng-if="check.chek" class="pop_ ">
        <i ng-click="close()" class="icon ion-ios-close-outline"></i>
        <div class="">
          <img src="img/ben.png" alt="" />
          <div class="">
            <h6>Shop</h6>
            <p>
              name
            </p>
          </div>
        </div>
        <section>
          <div class="image_">
            <img src="img/ben.png" alt="" />
                <img src="img/ben.png" alt="" />
                    <img src="img/ben.png" alt="" />
                        <img src="img/ben.png" alt="" />
                            <img src="img/ben.png" alt="" />
                            <div class=""  ng-click="profilepageseller()">
                              <p>
                                11+
                              </p>
                            </div>
                          </div>
                          <div class="stuff">
                          <ul>
                            <li><h6>10</h6>     <i class="icon ion-eye"></i> </li>
                            <li><h6>10</h6>     <i class="icon ion-thumbsup"></i> </li>
                            <li><h6>10</h6>     <i class="icon ion-chatbubble"></i> </li>
                            <li> <p style="margin-left:200%">20km</p></li>
                          </ul>
                          <p style="float:initial"></p>
                          </div>

        </section>
      </div>
    </div>
    </ion-content>
</ion-view>
