


<style media="screen">
  .header-badge{
    top:-7px !important;
    left:-11px !important;
  }

  .button-icon{
    font-size: xx-large;
    float:right;
  }
</style>

      <!-- <div class="fabhous" ng-click="switch()">
                

                         the button for switching to list from map
               <i class="icon" ng-class="(false==check.chek) ? 'ion-map' : 'ion-ios-list-outline'"></i>
      </div> 
      -->

<ion-view    cache-view="false" >
  <div class="bar bar-header bar-light mydiv">
    <h1 class="title">Dripple</h1>
  </div>
    <ion-content class="has-header">
      <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" ng-model='pics.text' placeholder="Search">
      </label>
    </div>
    <i ng-click='toggle_()' class="icon ion-grid filter"></i>
   
    <button ng-click='tog_()' class="button button-icon ion-android-textsms"><span class="badge badge-assertive header-badge">!</span></button>
    <ul ng-if='toggle' style="       white-space: nowrap;
 display: inline-flex;
 width: 100vw;
 overflow: auto;">

 <li  style="display:inline;"><ion-checkbox ng-model="pics.all" ng-init='initialize()' ng-click='init("-1")'> all</ion-checkbox></li>
 <li  style="display:inline;"><ion-checkbox ng-model="pics.e" ng-click='init("0")'> Enterpreniurs</ion-checkbox></li>
<li  style="display:inline;"><ion-checkbox ng-model="pics.i" ng-click='init("1")'>Items</ion-checkbox></li>

</ul>

<ul ng-if='toggle' style="       white-space: nowrap;
    display: inline-flex;
    width: 100vw;
    overflow: auto;">
                        <li style="display:inline;"><ion-checkbox ng-model="choice.mclothing" ng-click='find("mclothing")'>Male clothing</ion-checkbox></li>
                   <li  style="display:inline;"><ion-checkbox ng-model="choice.fclothing" ng-click='find("fclothing")'>Female clothing</ion-checkbox></li>
                   <li  style="display:inline;"><ion-checkbox ng-model="choice.Accesories" ng-click='find("Accesories")'>Accesories</ion-checkbox></li>
                   <li  style="display:inline;"><ion-checkbox ng-model="choice.Gadgets" ng-click='find("Gadgets")'>Gadgets</ion-checkbox></li>
                   <li  style="display:inline;"><ion-checkbox ng-model="choice.Food" ng-click='find("Food")'>Food</ion-checkbox></li>
                   <li  style="display:inline;"><ion-checkbox ng-model="choice.Gaccessory" ng-click='find("Gaccessory")'>Gadget Accesory</ion-checkbox></li>
                   <li  style="display:inline;"><ion-checkbox ng-model="choice.HomeI" ng-click='find("HomeI")'>Home items</ion-checkbox></li>
           <li  style="display:inline;"><ion-checkbox ng-model="choice.others" ng-click='find("others")'>others</ion-checkbox></li>

</ul>

      <!-- <ng-map zoom="10" center="-33.9, 151.2">
        <info-window ng-repeat="d in data2" class"marker" id="1" position="{{d.lat}},{{d.lng}}" visible="true">
         <div  style="padding-left:10px"  ng-non-bindable class="m">
           <img  ng-repeat="d in d.images" style="height: 35px;
                width: 40px;
                border-radius: 40%;
                display: flex;
                float: right;
                margin-left: -10px;
                border:1px solid green;
                "
                 ng-src="{{d.image}}" alt="">
         </div>
       </info-window>
   </ng-map> -->

   <!-- 0 means items-->
  <!--<smap ng-if="check.chek1" tokken="f" filter='pics.filter' id="map_canvas" datapoint='pp'   ></smap>-->
    <div   class="">
  <ul class="dynamic-grid" angular-grid="pics" grid-width="300" gutter-size="10" angular-grid-id="gallery" refresh-on-img-load="false" >
             <li ng-click='next(pic)'  data-ng-repeat="pic in pics track by $index"  class="grid" >
          <div class="griitm">
            <img src="{{pic.image[0].url}}" class="grid-img" data-actual-width = "{{pic.actualWidth}}"  data-actual-height="{{pic.actualHeight}}" />
            <div class="griitm2">
              <h6>{{pic.name}}</h6>
              <p>{{pic.shopname}}</p>
             <div class="">
               <h5>
                {{pic.price}}
               </h5>
               <a>find</a>
             </div>
            </div>
          </div>
         </li>
        </ul>
       
      <ion-infinite-scroll
  ng-if="more"
  icon="ion-loading-c"
  on-infinite="loadMoreData()"
  distance="1%">
</ion-infinite-scroll>
    </div>


   <!-- <div  ng-click="nxtpag()" id="ov" class="non">   </div>
     <div angular-ripple id="pop" class="fat_ trans" >
      <div ng-if="check.chek" class="pop_ ">
        <i ng-click="close()" class="icon ion-ios-close-outline"></i>
        <div class="">
          <img src="img/ben.png" alt="" />
          <div class="">
            <h6>Shop</h6>
            <p>
              name
            </p>
          </div>
        </div>
        <section>
          <div class="image_">
            <img src="img/ben.png" alt="" />
                <img src="img/ben.png" alt="" />
                    <img src="img/ben.png" alt="" />
                        <img src="img/ben.png" alt="" />
                            <img src="img/ben.png" alt="" />
                            <div class=""  ng-click="profilepageseller()">
                              <p>
                                11+
                              </p>
                            </div>
                          </div>
                          <div class="stuff">
                          <ul>
                            <li><h6>10</h6>     <i class="icon ion-eye"></i> </li>
                            <li><h6>10</h6>     <i class="icon ion-thumbsup"></i> </li>
                            <li><h6>10</h6>     <i class="icon ion-chatbubble"></i> </li>
                            <li> <p style="margin-left:200%">20km</p></li>
                          </ul>
                          <p style="float:initial"></p>
                          </div>

        </section>
      </div>
    </div> -->
    </ion-content>

</ion-view>
