


        <ion-view>
          <ion-content>

            <div class="protop">
              <img src="img/ben.png" alt="" />
              <p>
                John
              </p>


              <ul>
                <li><h6>10</h6>     <i class="icon ion-eye"></i> </li>
                <li><h6>10</h6>     <i class="icon ion-thumbsup"></i> </li>
                <li><h6>10</h6>     <i class="icon ion-chatbubble"></i> </li>
    </ul>


            </div>

          </ion-content>
        </ion-view>
