


        <ion-view ng-controller="profilepageseller">

         <div class="bar bar-header">
  <h1 class="title">Dripple</h1>
  <button ng-click="change()" style="position: fixed;
    background: white;
    border: 0;" class="icon ion-person"></button>
</div>
          <ion-content ng-init="checker()">


            <ion-refresher
                    pulling-text="Refreshing..."
                    on-refresh="checker()">
                  </ion-refresher>


                  <div  ng-show="show.spinner" class="load"  style="text-align: center;
    font-size: x-large;
    margin-top: 139px;">
                        <ion-spinner icon="ios-small"></ion-spinner>
                    <p>loading</p>
                  </div>


                  <div style="text-align:center;margin-top:25%" ng-show="show.nopage">

                       <i class="icon ion-bug"></i>
                       <p style="color:#cdcdcd;">Sorry had an issue connecting to the internet</p>
                </div>

            <div class="" ng-show="show.profile">
              <div class="back" ></div>
            <div class="protop2" >
              <div class="_protop">
                <div class="proptop2div">
                  <img src="img/ben.png" alt="" />
                  <section class="">
                    <h5>
                    </h5>
                    <p>
                      Male/Social enterpreniour
                      I sell with the best price
                      <!-- {{data.bio}} -->
                    </p>
                  </section>
                </div>
                <div id="likers">
                  <img id="likersimg" src="img/ben.png" alt="" />
                  <img id="likersimg" src="img/ben.png" alt="" />
                  <img id="likersimg" src="img/ben.png" alt="" />
                  <img id="likersimg" src="img/ben.png" alt="" />
                  <p id="likersp">
                    and 1000 people like this
                  </p>
                  <div id="circl_">
                      <i class="ion-android-favorite sid-lik"></i>
                  </div>
                </div>
                <p>
                  Top
                </p>
                <div class="image_">
                  <img src="img/ben.png" alt="" />
                      <img src="img/ben.png" alt="" />
                          <img src="img/ben.png" alt="" />
                              <img src="img/ben.png" alt="" />
                                  <img src="img/ben.png" alt="" />
                                </div>
              </div>
            </div>
            <ul    class="dynamic-grid" angular-grid="pics" grid-width="300" gutter-size="10" angular-grid-id="gallery" refresh-on-img-load="false" >
                 <li  data-ng-repeat="pic in pics" class="grid" ng-click="item()">
                  <div class="griitm">
                    <img src="{{pic.media.m}}" class="grid-img" data-actual-width = "{{pic.actualWidth}}"  data-actual-height="{{pic.actualHeight}}" />
                    <div class="griitm2">
                      <h6>Red velvet cake</h6>
                      <p>Favored cakes</p>
                     <div class="">
                       <h5>
                         $ 15,000
                       </h5>
                       <a>find</a>
                     </div>
                    </div>
                  </div>
                 </li>
             </ul>
            </div>

          </ion-content>

        </ion-view>
